@import '../../components/text-field/text-field.scss';
@import '../../components/dropdown/counter/counter.scss';
@import '../../components/button/button.scss';

// dropdown

.dropdown {
    position: relative;
    width: min(100%, 320px);

    // dropdown viewport

    &__viewport {
        position: absolute;
        z-index: -1;
        min-width: calc(100% + $padding-20px * 2); 
        padding: 0px $padding-20px $padding-20px $padding-20px;
        overflow: hidden;
        left: calc($padding-20px * -1);
        opacity: 0;
        visibility: collapse;
        transition: visibility step-end .6s, opacity .6s, z-index step-end .6s;
    }

    &_expanded .dropdown__viewport {
        z-index: 5;
        opacity: 1;
        visibility: visible;
        transition: opacity .6s;
    }

    // dropdown container

    &__container {
        padding: 5.5px 6px 7px 13.5px; 
        border: $dark-shade-border-25per;
        border-top: none;
        border-bottom-left-radius: 3px; 
        border-bottom-right-radius: 3px;
        border-color: $dark-shade-50per;
        box-shadow: $shadow1;
        background-color: white;
        transform: translateY(-100%);
        transition: transform .6s;
    }

    &_expanded .dropdown__container {
        transform: translateY(0);   
        transition: transform .6s;
    }

    // dropdown active class for text-field__input

    &__button {
        cursor: pointer;
    }

    &_expanded .dropdown__button {
        border-color: $dark-shade-50per;
        border-bottom-right-radius: 0; 
        border-bottom-left-radius: 0;
    }

    // dropdown active class for text-field__icon

    &__icon {
        transition: transform .2s;
    }

    &_expanded .dropdown__icon {
        color: $dark-shade-75per;
    }

    // dropdown active class for text-field__icon/__input

    &__button:active + .dropdown__icon {
        transform:  translateY(5px);
        transition: transform .2s;
    }

    // dropdown counters list

    &__counters-list {
        display: grid; 
        gap: 7px;
        list-style: none;   
    }

    // dropdown control panel

    &__control-panel {
        padding-top: 15px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
    }
}