/* rate */

.rate-button {
    width: 24px;
    height: 24px;   
    display: flex;
    justify-content: center;
    align-items:flex-start;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: -10px;
    appearance: none;
    cursor: pointer;

    &:before {
        content: '\2605';
        font: $icon-font;
        font-size: 28px;
        background: $purple-gradient;  
        background-clip: text; 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        text-align: center;
    }

    &:checked ~ .rate-button:before {
        content: '\2606';   
    }

    &:disabled {
        cursor: default;
    }

    &:focus {
        outline: $custom-outline;
    }

    &:hover:not(:disabled) {
        box-shadow: $shadow-hover;
    }
}