.paginator
    a.current(href="#1") 1
    a(href="#2") 2
    a(href="#3") 3
    span &hellip;
    a(href="#15") 15
    a.next(href="#next")
        img(src=require('./img/arrow_forward.svg'))
    p 1 – 12 из 100+ вариантов аренды