mixin pagination(pagination)
    -
        const {
            totalPages,
            currentPage,
            description
        } = pagination;

    .pagination.js-pagination(data-total = totalPages data-current = currentPage)
        ul.pagination__ul.js-pagination__ul

        if description
            span.pagination__description #{description}