// pagination
.pagination {
    width: max-content;
    display: grid;
    row-gap: 10px;
    justify-items: center;

    // pagination ul

    &__ul {
        display: flex;
    }

    // pagination li

    &__li {
        list-style: none;
        border-radius: 22px;
        height: 40px;
        width: 40px;
        font: $regular-font;
        color: $dark-shade-50per;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    
        & span._icon-arrow_back,
        & span._icon-arrow_forward{
            &::before{
                width: 40px;
                height: 40px;
                font-size: 24px;
                line-height: 40px;
                cursor: pointer;
                text-align: center;
                color: white;
                border-radius: 22px;
                background: $green-gradient; 
            }    
        }
    
        &.ellipsis {
            cursor: default;
        }
    
        &.active {
            background: $purple-gradient;
            color: white;
            font-weight: bold;
        }
    
        &:active:not(.ellipsis) {
            box-shadow: $shadow-hover;
        }

        &:hover:not(.ellipsis) {
            outline: $custom-outline;
        }

    }

    // pagination description

    &__description {
        font: $body-font;
        color: $dark-shade-75per;
        line-height: 24px;
    }
}