.checkbox 
    label.checkbox__label
        input.checkbox__input(type='checkbox')
        span.checkbox__span
        ul Широкий коридор
            li Ширина коридоров в номере не менее 91 см.
    label.checkbox__label
        input.checkbox__input(type='checkbox')
        span.checkbox__span
        ul Помощник для инвалидов
            li На 1 этаже вас встретит специалист и проводит до номера.