include ./radio-button/radio-button

mixin radio-bar(radioBar)
    -
        const {
            name,
            radioButtons,
            ariaLabel
        } = radioBar;

    .radio-bar(role = 'radiogroup', aria-label = ariaLabel ? ariaLabel : false) 

        each item in radioButtons      
            +radio-button({
                name,
                disabled,
                checked: item.checked,
                value: item.value,
                label: item.label
            })