// pie chart 

.pie-chart {
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    // pie chart container

    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
    }

    // pie chart canvas 

    &__canvas {
        position: absolute;
        cursor: help;
        border-radius: 50%;
    }

    // pie chart label 

    &__label {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 88%;
        height: 88%;
        border-radius: 50%;
        background-color: white;
        font: $body-font;
        color: $purple;
        font-weight: bold;
        pointer-events: none;

        & .pie-chart__number {
            font: $h1-font;
        }
    }

    // pie chart legend 

    &__legend {
        margin-left: 30px;
        display: flex;
        flex-direction: column-reverse;
        font: $body-font;
        color: $dark-shade-75per;
        list-style: none;
    }

    &__legend-item {
        position: relative;
        padding-left: 15px;
        line-height: 23px;

        &:before {
            content: '';
            position: absolute;
            left: 0; 
            top: 7px;
            width: 10px; 
            height: 10px;
            border-radius: 50%;
            background-color: var(--chart-color);
        }
    }
}