button.heart-btn(type='button')
    .heart-btn__favorite-border
        img(src=require('./img/favorite_border.svg'))
    .heart-btn__favorite
        img(src=require('./img/favorite.svg'))
    span.likes-number 2