include ../text-field/text-field
include ../button/button
include ../link/link

mixin form-login()
    form.form-login(name = 'login', method = 'get')
        h2.form-login__label #{'Войти'}
        .form-login__fieldset(role = 'group', aria-label = 'Данные для входа в сервис')
            +text-field({
                name: 'Почта',
                type: 'email',
                placeholder: 'Email',
                required: true,
                title: 'Введите адрес почты',
                ariaLabel: 'Почта'
            })
            +text-field({
                name: 'Пароль',
                type: 'password',
                placeholder: 'Пароль',
                required: true,
                title: 'Введите пароль',
                ariaLabel: 'Пароль'
            })
        .form-login__submit-button 
            +button({
                label: 'Войти',
                color: 'purple',
                fill: true,
                icon: '_icon-arrow_forward'
            })
        .form-login__registration 
            p.form-login__registration-text #{'Нет аккаунта на'} Toxin?
            span.form-login__registration-link 
                +link({
                    label: 'Создать',
                    href: './registration-page.html',
                    title: 'Страница регистрации',
                    button: true,
                    border: true,
                })