include ../../components/checkbox-list/checkbox-list

mixin expandable-checkbox-list(expandableCheckboxList, lang)
    -
        const uniqid = require('uniqid');
        const id = uniqid();

        const {
            label,
            expanded=false,
            title,
            checkboxList
        } = expandableCheckboxList;

    div(class = expanded ? `expandable-checkbox-list js-expandable-checkbox-list expandable-checkbox-list_expanded` : 'expandable-checkbox-list js-expandable-checkbox-list')
        button.expandable-checkbox-list__button.js-expandable-checkbox-list__button(
            type = 'button'
            title = title 
        )
            span.expandable-checkbox-list__label #{label}
            span.expandable-checkbox-list__icon._icon-expand_more(aria-hidden = true)
        
        .expandable-checkbox-list__expand-container 
            +checkbox-list(checkboxList, `checkbox-list-${id}`)