.expandable-checkbox-list
    .title
        h3 дополнительные удобства
        button.btn
            img(src=require('./img/expand_more.svg'))
    .checkbox-list
        label.checkbox-list__label
            input.checkbox-list__input(type='checkbox')
            span.checkbox-list__span
            p Завтрак
        label.checkbox-list__label
            input.checkbox-list__input(type='checkbox')
            span.checkbox-list__span
            p Письменный стол
        label.checkbox-list__label
            input.checkbox-list__input(type='checkbox')
            span.checkbox-list__span
            p Стул для кормления
        label.checkbox-list__label
            input.checkbox-list__input(type='checkbox')
            span.checkbox-list__span
            p Кроватка
        label.checkbox-list__label
            input.checkbox-list__input(type='checkbox')
            span.checkbox-list__span
            p Телевизор
        label.checkbox-list__label
            input.checkbox-list__input(type='checkbox')
            span.checkbox-list__span
            p Шампунь