// expandable checkbox list

.expandable-checkbox-list {

    // expandable checkbox list button 

    &__button {
        width: min(100%, 320px);
        height: 44px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &:focus {
            outline: $custom-outline;
            outline-offset: 1px;
        }
    }

    // expandable checkbox list label 

    &__label {
        font: $h3-font;
        color: $dark-shade-100per;
        text-transform: uppercase;
    }

    // expandable checkbox list icon

    &__icon {
        font: $icon-font;
        font-size: 24px;
        color: $dark-shade-50per;
        transition: transform .2s;
    }

    &_expanded .expandable-checkbox-list__icon {
        color: $dark-shade-75per;
    }

    &__button {
        &:hover .expandable-checkbox-list__icon {
            color: $dark-shade-75per;
        }
    
        &:active .expandable-checkbox-list__icon {
            transform:  scale(1.3);
            transition: transform .2s;
        }
    }

    // expandable checkbox list container

    &__expand-container {
        padding-top: 4px;
        opacity: 0;          
        max-height: 0;       
        visibility: hidden;
        transition: visibility step-end .6s, opacity .6s, max-height .6s;
    }

    &_expanded .expandable-checkbox-list__expand-container {
        max-height: 1000px;
        opacity: 1;  
        visibility: visible;
        transition: opacity .6s, max-height .6s;
    }
}