// slider

.slider {
    height: 44px;
    width: 266px;
    display: grid;
    row-gap: 23px;

    // slider label 

    &__label {
        display: flex;
        justify-content: space-between;
        font: $h3-font;
        color: $dark-shade-100per;
        text-transform: uppercase;

        & span {
            width: 121px;
        }
    }

    // slider input 

    &__input {
        margin-right: -50px;
        font: $body-font;
        font-size: 12px;
        color: $dark-shade-50per;
        height: 15px;
        text-align: end;
        pointer-events: none;
        outline: none;
    }

    // slider range

    & .slider__range {
        height: 6px;
        align-self: end;
        border-radius: 3px;
        border: $dark-shade-border-25per;
    }

    // slider base

    & .slider__range .slider__base {
        background: white;
        cursor: pointer;
    }

    // slider connect 

    & .slider__range .slider__connect {
        background: $green-gradient;
    }

    // slider handle 

    & .slider__range .slider__handle {
        width: 16px; 
        height: 16px;
        right: -15px;
        border: 2px solid white;
        border-radius: 50%;
        background: $green-gradient;
        box-shadow: none;
        cursor: pointer;

        &:after, 
        &:before {
            content: none;
        }

        &:focus {
            outline: $custom-outline;
            outline-offset: 2px;
        }

        &:hover {
            box-shadow: $shadow-hover;
        }
    }

    // slider tooltip 

    & .slider__range .slider__tooltip {
        visibility: hidden;
        width: max-content;
        opacity: 0;
        padding: 5px;
        font: lighter 12px Arial;
        background: $green-gradient;
        border: 1px solid $green;
        color: white;
        border-radius: 15%;
        pointer-events: none;
    }

    &__handle:hover,
    &__handle:focus {
        & .slider__tooltip {
            visibility: visible;
            opacity: 1;
            transition: opacity step-end 0.5s;
        }
    }
}