.filters 
    .filters__item.filters-price 
        h3.filters-price__title Диапазон цены
        .filters-price__inputs 
            label.filters-price__label             
                input.filters-price__input(type="number" min="0" max="15000" id="range-1")
                span.filters-price__text ₽ -
            label.filters-price__label
                input.filters-price__input(type="number" min="0" max="15000" id="range-2")
                span.filters-price__text ₽
    .filters__slider(id="range-slider")
    p Стоимость за сутки пребывания в номере