mixin range-slider(rangeSlider)
    -
        const {
            label,
            range,
            name,
            initValue,
            step,
            margin 
        } = rangeSlider;

    .slider.js-slider
        label.slider__label
            span #{label}
            input.slider__input.js-slider__input(name = name, type = 'text', readonly)           
        .slider__range.js-slider__range(data-range = range, data-init-value = initValue, data-step = step, data-margin = margin)