@import './rate-button/rate-button.scss';

// rate-bar 

.rating {
    &__rate-bar {
        display: flex;

        &:focus {
            outline: $custom-outline;
            outline-offset: 2px;
        }
    }
}