.subscription-field
    .subscription-input
        input(autocomplete="on" type="text" name="email" value="Email" onfocus="this.value=''")
        button(type='submit')
            img(src=require('./img/arrow_forward.svg'))