input[type=text] {
    width: 267px;
    font: $body-font;
    color: $dark-shade-25per;
    border: 1px solid $dark-shade-25per;
    height: 44px;
    padding-left: 15px;
    border-radius: 4px;
    outline: none;
    &:hover,
    &:focus,
    &:active {
        border: 1px solid $dark-shade-50per;
        color: $dark-shade-75per;
    }
}
.subscription-field {
    width: 267px;
}
.subscription-input {
    width: 267px;
    position: relative;
}
button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    padding: 0px;
    width: 16px;
    height: 16px;
    left: 237px;
    top: 14px;
    cursor: pointer;
    img {
        width: inherit;
        height: inherit;
    }
}