// bullet list

.bullet-list {
    display: grid;
    list-style: none;
    row-gap: 10px;

    &__item {
        position: relative;
        font: $body-font;
        color: $dark-shade-75per;
        word-wrap: break-word;
        padding-left: 20px;
        width: 260px;
        line-height: 24px;
    
        &:before {
            content: '';
            position: absolute;
            left: 0; 
            top: 7px;
            width: 10px; 
            height: 10px;
            border-radius: 50%;
            background-color: $dark-shade-25per;
        }
    }
}