.wrapper-btn {
    width: 99px;
    height: 44px;
    background: $purple-gradient;
    border-radius: 22px;
    &:hover {
        opacity: 0.5;
    }
    &:active {
        opacity: 0.7;
    }
}

.login-btn {
    width: 95px;
    height: 40px;
    border-radius: 22px;
    background-color: white;
    border: none;
    margin-left: 2px;
    margin-top: 2px;
    color: $purple;
    font: $h3-font;
    text-transform: uppercase;
    &:active {
        color: $dark-shade-75per;
    }
    cursor: pointer;
}