// toggle 

.toggle {   
    display: flex;
    cursor: pointer;

    // toggle input 

    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 41px;
        height: 21px;
        margin-right: 10px;
        padding: 0px 4px;
        display: flex;
        align-items: center;
        border: $dark-shade-border-25per;
        border-radius: 10px;
        cursor: inherit;
    
        &:before {
            content: '';
            width: 13px;
            height: 13px;
            border-radius: 10px;
            background: $dark-shade-25per;
            transition: transform .3s;
        }  
    
        &:checked {
            border-color: $purple;
        }
    
        &:checked:before {
            background: $purple-gradient;
            transform: translateX(135%);
            transition: transform .3s;
        }
    
        &:checked:disabled::before {
            background: $dark-shade-25per;
        }
    
        &:disabled {
            border-color: $dark-shade-5per;
            cursor: default;
        }
        
        &:focus {
            outline: $custom-outline;
            outline-offset: 1px;
        }
    
        &:hover:not(:disabled) {
            box-shadow: $shadow-hover;
        }
    }

    // toggle label 

    &__label {
        font: $body-font;
        line-height: 18px;
        color: $dark-shade-75per;
    }
}