.checkbox 
    label.checkbox__label
        input.checkbox__input(type='checkbox')
        span.checkbox__span
        p Можно курить
    label.checkbox__label
        input.checkbox__input(type='checkbox')
        span.checkbox__span
        p Можно с питомцами
    label.checkbox__label
        input.checkbox__input(type='checkbox')
        span.checkbox__span
        p Можно пригласить гостей (до 10 человек)