.number-info 
    .number-info__icon
        img(src=require('./img/insert_emoticon.svg'))
    .number-info__text 
        p Комфорт
        p Шумопоглощающие стены
.number-info 
    .number-info__icon
        img(src=require('./img/location_city.svg'))
    .number-info__text 
        p Удобство
        p Окно в каждой из спален
.number-info 
    .number-info__icon
        img(src=require('./img/whatshot.svg'))
    .number-info__text 
        p Уют
        p Номер оснащён камином