.slider {
    width: 1440px;
    height: 684px;
    overflow: hidden;
    position: relative;

    &__container {
        position: absolute;
        display: flex;
        left: 0;
        transition: all ease 1s;
    } 
}